body {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 20px;
}

h1 {
  text-align: left;
  margin: 15px 20px;
}

ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
ul .social-link {
  display: inline-block;
}
img {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
}

li .social-detail {
  display: inline-block;
}
a {
  text-decoration: none;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: center;
}
