body {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 20px;
  background-color: #dedbd2;
}
header {
  background-color: #b0c4b1;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
  margin: 15px 20px;
}
.main-heading {
  text-decoration: none;
  color: black;
  transition: 1s;
}

.main-heading:hover {
  cursor: pointer;
  color: #4a5759;
  text-decoration: underline;
}

.about-me-body {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.social-link {
  display: inline-block;
}
img {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
}

.social-detail {
  display: list-item;
  padding: 20px;
}
a {
  text-decoration: none;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 200;
}
